<div class="container mt-4">
  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let product of pagedProducts">
      <app-product-card [product]="product"></app-product-card>
    </div>
  </div>

  <!-- Pagination Controls -->
  <div class="d-flex justify-content-center mt-4">
    <nav>
      <ul class="pagination pagination-rounded">
        <!-- Previous -->
        <li
          class="page-item"
          [class.disabled]="currentPage === 1"
          (click)="changePage(currentPage - 1)"
        >
          <a
            class="page-link border-warning"
            href="javascript:void(0)"
            style="background-color: #121212; color: #ffc107"
          >
            Previous
          </a>
        </li>

        <!-- Page Numbers -->
        <li
          class="page-item"
          *ngFor="let page of totalPagesArray"
          [class.active]="page === currentPage"
          (click)="changePage(page)"
        >
          <a
            class="page-link border-warning"
            href="javascript:void(0)"
            [ngStyle]="
              page === currentPage
                ? { backgroundColor: '#ffc107', color: '#121212' }
                : { backgroundColor: '#121212', color: '#ffc107' }
            "
          >
            {{ page }}
          </a>
        </li>

        <!-- Next -->
        <li
          class="page-item"
          [class.disabled]="currentPage === totalPages"
          (click)="changePage(currentPage + 1)"
        >
          <a
            class="page-link border-warning"
            href="javascript:void(0)"
            style="background-color: #121212; color: #ffc107"
          >
            Next
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <!-- Home Button -->
  <div class="text-center mt-4">
    <button class="btn btn-warning text-dark" routerLink="/store">Back</button>
  </div>
</div>
