<div class="container mt-5 mb-5">
  <form
    #form="ngForm"
    (ngSubmit)="save(form)"
    novalidate
    class="p-4 bg-light rounded shadow"
  >
    <!-- Name -->
    <div class="form-group">
      <label>Name</label>
      <input
        type="text"
        class="form-control"
        name="name"
        [(ngModel)]="user.name"
        required
        #name="ngModel"
      />
      <div *ngIf="name.invalid && name.touched" class="text-danger">
        Name is required.
      </div>
    </div>

    <!-- Email -->
    <div class="form-group">
      <label>Email</label>
      <input
        type="email"
        class="form-control"
        name="email"
        [(ngModel)]="user.email"
        required
        #email="ngModel"
      />
      <div *ngIf="email.invalid && email.touched" class="text-danger">
        Valid email is required.
      </div>
    </div>

    <!-- Password -->
    <div class="form-group">
      <label>Password</label>
      <input
        type="password"
        class="form-control"
        name="password"
        [(ngModel)]="user.password"
        required
        minlength="6"
        #password="ngModel"
      />
      <div *ngIf="password.invalid && password.touched" class="text-danger">
        Password is required (min 6 characters).
      </div>
    </div>

    <div class="form-group">
      <label>Age</label>
      <input
        type="number"
        class="form-control"
        name="age"
        [(ngModel)]="user.age"
        required
        min="1"
        max="120"
        placeholder="Enter your age"
        #age="ngModel"
      />
      <div *ngIf="age.invalid && age.touched" class="text-danger">
        Age is required & must be between 1 and 120.
      </div>
    </div>

    <div class="form-group">
      <label>Profile Image URL</label>
      <input
        type="text"
        class="form-control"
        name="imageUrl"
        [(ngModel)]="user.imageUrl"
        required
        placeholder="Enter image URL"
        #imageUrl="ngModel"
      />
      <div *ngIf="imageUrl.invalid && imageUrl.touched" class="text-danger">
        Profile image URL is required.
      </div>
    </div>

    <!-- Height -->
    <div class="form-group">
      <label>Height</label>
      <input
        type="number"
        class="form-control"
        name="height"
        [(ngModel)]="user.height"
        required
        min="0.5"
        max="2.5"
        placeholder="in meters"
        #height="ngModel"
      />
      <div *ngIf="height.invalid && height.touched" class="text-danger">
        Height must be between 0.5m and 2.5m.
      </div>
    </div>

    <!-- Weight -->
    <div class="form-group">
      <label>Weight</label>
      <input
        type="number"
        class="form-control"
        name="weight"
        [(ngModel)]="user.weight"
        required
        min="20"
        max="200"
        placeholder="in kg"
        #weight="ngModel"
      />
      <div *ngIf="weight.invalid && weight.touched" class="text-danger">
        Weight must be between 20kg and 200kg.
      </div>
    </div>

    <div class="form-group">
      <label for="cuisine">Category</label>
      <select
        class="form-control"
        name="category"
        [(ngModel)]="user.category"
        required
      >
        <option value="" disabled selected>Select a category</option>
        <option value="weightGain">Weight Gain</option>
        <option value="weightLoss">Weight Loss</option>
      </select>
    </div>

    <!-- Buttons -->
    <button
      type="submit"
      class="btn btn-primary mr-2"
      [disabled]="form.invalid"
    >
      Save
    </button>
    <button type="reset" class="btn btn-secondary" routerLink="/home">
      Cancel
    </button>
  </form>
</div>
