<nav
  class="navbar navbar-expand-lg navbar-light bg-light"
  style="background: linear-gradient(to right, #2c3e50, #bdc3c7)"
>
  <a class="navbar-brand" routerLink="/home" style="color: #ffffff">FitVerse</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <!-- Left-aligned links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home" style="color: #ffffff">Home</a>
      </li>
    </ul>

    <!-- Right-aligned links -->
    <ul class="navbar-nav ml-auto" *ngIf="func() && funcTrainer()">
      <li class="nav-item">
        <a class="nav-link" routerLink="/login"> Login </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/register"> Register </a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto" *ngIf="!func()">
      <li class="nav-item">
        <a class="nav-link" (click)="logout()"> Logout </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="gotoDashboard()"> Dashboard </a>
      </li>
    </ul>
  </div>
</nav>
